html, body {
	background: linear-gradient(45deg,  rgba(0, 0, 0, 0.6),  rgba(0, 0, 0, 0.6)), url("images/pancakes.jpg");
	background-color: rgba(0, 0, 0, 1);
	background-size: 120%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: "nunito", sans-serif;
}

body{
	overflow-x: hidden;
	z-index: 0;
}

a {
  text-decoration: none;
}

.menu {
	margin: 0;
	display: block;
  text-align: center;
	position: relative;
	margin: 0 auto;
	height: auto;
	width: 100vw;
	z-index: 100;
}

.menu h1, .menu h2, .menu h3 {
  text-align: center;
  width: 80%;
  margin: 1em auto;
}

.logo {
  display: block;
  position: relative;
  background-image: url(images/augie_dining_services_new_color.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
  width: auto;
  margin: 2em auto 0 auto;
  min-width: 265px;
  height: 100px;
}
h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2.5em;
	text-align: left;
	letter-spacing: auto;
	text-transform: uppercase;
	color: #FFF;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
	text-align: left;
	font-weight: black;
	letter-spacing: auto;
	text-transform: uppercase;
	color: #FFF;
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	color: #FFF;
	text-transform: uppercase;
  transition: all 0.35s ease;
}

#submit {
  padding: .25em 2em;
	opacity: 1;
  margin: 2em 17.25%;
  width: 60%;
  background-color: #0090ff;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-weight: 900;
  border: none;
  border-radius: 10000px;
  transition: all 0.4s ease;
}

#submit:hover {
  padding: .25em 2em;
  width: 70%;
  margin: 2em 12.25%;
  cursor: pointer;
}

button {
  padding: .15em 5%;
	opacity: 1;
  margin: 2em 22.5%;
  width: 50%;
  background-color: #0090ff;
  font-family: 'Nunito', sans-serif;
  font-size: .8em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-weight: 900;
  border: none;
  border-radius: 10000px;
  transition: all 0.4s ease;
}

button:hover {
  padding: .15em 5%;
  width: 60%;
  margin: 2em 17.5%;
  cursor: pointer;
}

form {
	color: #fff;
	font-family: "nunito";
}

form input {
  border: none;
  padding: 0.25em 1.25em;
	border-radius: 1000px;
}

form select {
  position: relative;
  top: 1em;
  padding: .5em 2em;
  margin: 2em;
  background-color: #0090ff;
  font-family: 'Nunito', sans-serif;
  font-size: .75em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  border: none;
  border-radius: 10000px;
}

.fields form {
	margin: 0 auto;
	display: block;
	width: 50vw;
	padding: 0 25vw;
}

#return {
	display: block;
	position: absolute;
	font-family: "Josefin Sans", sans-serif;
	top: 2em;
	float: left;
	background-color: rgba(215, 215, 215, 1);
	border-radius: 0 1000px 1000px 0;
	padding: 1.25em;
	z-index: 100;
	transition: all 0.4s ease;
}

#return:hover {
	padding: 1.25em 1.25em 1.25em 2em;
}

#logout {
	display: block;
	position: absolute;
	font-family: "Josefin Sans", sans-serif;
	top: 0;
	width: auto;
	margin: 0;
	right: 0em;
	float: right;
	border-radius: 1000px 0 0 1000px;
	padding: 1.25em;
	z-index: 100;
	transition: all 0.4s ease;
}

#logout:hover {
	padding: 1.25em 2em 1.25em 1.25em;
}
