* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #a01a1a;
}

body{
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

h1 {
	font-family: 'Rye', sans-serif;
	font-size: 8em;
	text-align: right;
	letter-spacing: auto;
	text-transform: uppercase;
	line-height: 0.5em;
	font-weight: 400;
	color: #fff;
}

h2 {
	font-family: 'Bitter', sans-serif;
	font-size: 7em;
	text-align: right;
	font-weight: black;
	letter-spacing: auto;
	text-transform: uppercase;
	color: #fff;
}

p {
	font-family: 'Bitter', sans-serif;
	font-size: 3.75em;
	font-weight: 900;
	text-align: right;
	letter-spacing: auto;
	text-transform: uppercase;
	line-height: 1em;
	color: #fff;
}

.pizza_menu {
	padding: 2em 4.5em 0 1em;
	margin: 0;
	display: block;
	position: relative;
	height: 100vh;
	width: 100vw;
	text-shadow: 0px 0px 10px #000;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
}

.items {
	padding: 2em 0 0 0;
}

.background {
	position: relative;
	display: block;
	top: -100vh;
	overflow: hidden;
	z-index: 0;
	background-image: url(images/pizza.jpg);
}

.background video {
	position: relative;
	display: block;
	width: 200vw;
	height: auto;
	overflow: hidden;
}

#menu1 {
}
